.headerRow {
    border-bottom: 1px solid #e0e0e0;
    background-color: #cfd3d8;
    padding-right: 0px !important;
    text-transform: none !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bodyRow {
    border-bottom: 1px solid #e0e0e0;
    display: flex;
}

.tableCell {
    border-right: 1px solid #e0e0e0;
    align-items: stretch;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 2px;
    margin: 0 !important;
}

.actionBar {
    position: relative;
    margin-bottom: 5px;
    min-height: 48px
}

.columnSelector {
    position: relative;
    display: inline-block;
    top: 10px;
}

.tableFilter {
    position: relative;
    display: inline-flex;
    top: 10px;
}

.pager {
    text-align: right;
    position: absolute;
    top: 5px;
    right: 20px;
    height: 56px;
    display: inline-block
}

.nextPrevButton {
    height: 36px !important;
    width: 36px !important;
    vertical-align: top;
    margin-top: 15px;
    svg {
        height: 30px !important;
    }
}

.selectDropDown {
    margin-left: 10px;
    margin-right: 10px;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.alignLeft {
    text-align: left;
}

.DragHandle {
  flex: 0 0 16px;
  z-index: 2;
  cursor: col-resize;
  color: #0085ff;
}
.DragHandle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.DragHandleActive,
.DragHandleActive:hover {
  color: #0b6fcc;
  z-index: 3;
}

.DragHandleIcon {
  flex: 0 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HeaderTruncatedText {
  flex: auto;
}

.Header {
    display: flex;
}
