
.dropdownWrapper {
    display: inline-flex;
    align-items: center;
}

.newDropdownSelector {
    margin-left: 10px;
    width: 80%;
    margin-top: 10px !important;
    vertical-align: top;
    display: inline-flex;
}

.txtDropdown {
    vertical-align: top;
    margin-top: auto;
}

.optionDropdown {
    height: 48px;
    margin-top: auto;

    .button {
        padding: 0;
        width: 36px;
    }
}

.dropdownIcon {
    vertical-align: bottom;
}