.tableContainer {
    font-family: "Courier";
    font-size: 14px;
}

.headerRow {
    border-bottom: 1px solid #e0e0e0;
    background-color: #cfd3d8;
    padding-right: 0px !important;
    text-transform: none !important;
}

.bodyRow {
    border-bottom: 1px solid #e0e0e0;
}

.tableCell {
    border-right: 1px solid #e0e0e0;
    align-items: stretch;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 2px;
    margin: 0 !important;
}

.actionBar {
    position: relative;
    margin-bottom: 5px;
    min-height: 48px
}

.columnSelector {
    position: relative;
    display: inline-block;
    top: 10px;
}

.tableFilter {
    position: relative;
    display: inline-flex;
    top: 10px;
}

.pager {
    text-align: right;
    position: absolute;
    top: 30px;
    right: 20px;
    height: 56px;
    display: inline-block
}

.nextPrevButton {
    height: 30px !important;
    vertical-align: top;
    margin-top: 15px;
    button {
        width: 30px !important;
        height: 30px !important;
        svg {
            height: 30px !important;
        }
    }
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.alignLeft {
    text-align: left;
}