.tooltip {
  background: lightyellow;
  border: 1px solid black;
  padding: 3px;
  font-size: 12px;
  position: absolute;
  pointer-events: none;
  z-index: 100000;
}

.scatter {
  line {
    stroke-opacity: 0.25;
    stroke: black;
    stroke-dasharray: 1, 1;
  }
}

.valueLine {
   stroke: "#51CB3F";
   stroke-linecap: "round";
   stroke-width: 6;
}

.emptyLine {
   stroke: "#ECECEC";
   stroke-linecap: "round";
   stroke-width: 6;
}

.valueCircle {
  stroke: "black";
  stroke-width: 1.0;
  fill: "white";
}