.breakfast {
    background-image: url("./images/breakfast.jpg");
}
.burgers {
    background-image: url("./images/burgers.jpg");
}
.camera {
    background-image: url("./images/camera.jpg");
}

.select {
    padding-top: 15px;
}