.breakfast {
    background-image: url("./images/breakfast.jpg");
}
.burgers {
    background-image: url("./images/burgers.jpg");
}
.camera {
    background-image: url("./images/camera.jpg");
}

.select {
    padding-top: 15px;
}

.tree {
    ul {
        margin-left: 20px;
    }

    li {
        list-style-type: none;
        margin:10px;
        position: relative;

        span {
            margin-left: 5px
        }
    }

    li::before {
        content: "";
        position: absolute;
        top:-6px;
        left:-20px;
        border-left: 1px solid #ccc;
        border-bottom:1px solid #ccc;
        border-radius:0 0 0 0px;
        width:20px;
        height:15px;
    }

    li::after {
        position:absolute;
        content:"";
        top:8px;
        left:-20px;
        border-left: 1px solid #ccc;
        border-top:1px solid #ccc;
        border-radius:0px 0 0 0;
        width:20px;
        height:30px;
    }

    li:last-child::after  {
        display:none;
    }

    li:last-child:before{
        border-radius: 0 0 0 5px;
    }

    ul.tree>li:first-child::before {
        display:none;
    }

    ul.tree>li:first-child::after {
        border-radius:5px 0 0 0;
    }
}

.disabled {
     color: theme-color("disable", "background");
}

.textToolTip {
    white-space: pre-line !important;
    text-align: left
}

.ptmCoverage {
    display: block;
    width: 14px;
    height: 14px;
    font-size: 18px;
}

.ptmInCoverageColorOne {
    @extend .ptmCoverage;
    background-color: #F36D70;
    color: black;
}

.ptmInCoverageColorTwo {
    @extend .ptmCoverage;
    background-color: #FFAD15;
    color: black;
}

.ptmInCoverageColorThree {
    @extend .ptmCoverage;
    background-color: #97A2FF;
    color: black;
}

.ptmInCoverageColorFour {
    @extend .ptmCoverage;
    background-color: #5ED3DD;
    color: black;
}

.ptmInCoverageColorFive {
    @extend .ptmCoverage;
    background-color: #DF8BCF;
    color: black;
}

.ptmInCoverageColorSix {
    @extend .ptmCoverage;
    background-color: #92E770;
    color: black;
}

.ptmInCoverageColorSeven {
    @extend .ptmCoverage;
    background-color: #974806;
    color: white;
}

.ptmInCoverageColorEight {
    @extend .ptmCoverage;
    background-color: #31859B;
    color: white;
}

.ptmInCoverageColorNine {
    @extend .ptmCoverage;
    background-color: #944BC9;
    color: white;
}

.ptmInCoverageSubstituation {
    @extend .ptmCoverage;
    border: 1px solid black;
}