.root {
    width: 100% !important;
}

.top {
    padding-left: 5px !important;
}

.nested {
    padding-left: 10px !important;
}

.addData {
    width: 100%;
}

.dataList {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    overflow: auto;
    height: 400px;
}

.itemText {
    display: block;
    max-width: 210px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px !important;
}

.dataNav {
    width: 100% !important;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selectAll {
    width: 30%;
}

.searchLegend {
    margin-top: 10px !important;
    width: 69%;
}

.filePanel {
    height: 500px;
}