.sampleName {
    margin: auto !important;
}

.samplePanel {
    padding-top: 30px;
}

.sampleListHeader {
    width: 880px !important;
}

.selectField {
    width: 180px;
    padding-right: 5px;
}

.removeButton {
    margin: auto !important;
}

.fileRemoveButton {
    text-align: right;
}

.iconButtons {
    max-width: 55px !important;
    .iconButtonBase {
        margin: auto;
        display: block;
    }
    .iconButton:first-child {
        @extend .iconButtonBase;
        margin-top: 200px;
    }
    .iconButton:not(:first-child) {
        @extend .iconButtonBase;
        margin-top: 10px;
    }
}

.draggableFile {
    position: relative;
    text-align: left;
    border: 1px dashed rgba(33, 33, 33, 0.8);
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    cursor: move;
    
    span {
        height: 25px;
        line-height: 25px;
    }
}
.draggableFileTitle {
    position: relative;
    width: 338px;
    text-align: left;
    margin: 3px;
    
    span {
        margin-left: 30px;
        height: 25px;
        line-height: 25px;
    }
}

.fileRemoveButton {
    cursor: pointer;
    position: absolute;
}

.fileErrorMessage {
    color: rgb(244, 67, 54);
    border-top: 2px solid rgb(244, 67, 54);
    font-size: 12px;
}

.fileButton {
    width: "25%";
    input {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        width: 30%
    }
}

.checkBoxLabel {
    min-width: 140px;
    width: 268px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
