div.loginContainer {
    width: 286px;
    margin: auto;
    margin-top: 150px;
    border: 1px solid rgb(224, 224, 224);
    div.loginHeader {
        background: rgb(232, 232, 232);
        h3 {
            margin: 0;
            padding: 15px;
        }
    }

    div.loginBody {
        padding: 0 15px 15px 15px;
        text-align: right;
    }

    div.loginMsg{
        margin-top: 10px;
        text-align: left;
        width: 250px;
    }
}