.checkBoxCell{
    text-align: center !important;
    padding: 0px 0px 0px 0px !important;
    width: fit-content !important;
    height: inherit !important;
    position: inherit !important;
    background: transparent !important;
    span {
        position: inherit !important;
    }
}

.searchField {
    width: 155px !important;
}

.clearAllFilteredButton {
    margin: 20px 10px;
}

.checkBoxHeaderCell{
    width: 12px;
}

.accessionCell {
    text-align: left !important;
    color: black
}