.dialog{
    div{
        div{
            div{
                overflow: hidden;
            }
        }
    }
}

.sampleTable {
    width: 85%;
}


.inlineText {
    margin-top: 30px;
    margin-right: 15px;
}