.dropDownSelector {
    margin-left: 5px;
    width: 250px !important;
}

.formControl {
    display: block !important;
    margin-left: 15px !important;
}

.minPValueTextField {
    margin-top: 15px !important;
    margin-right: 15px !important;
}