.seq{
    //display: table-cell !important 
    display: inline-block !important;
}

.colouredSeq{
    @extend .seq;
    background: #aaa;
    font-weight: bold;
}

.ptm{
    @extend .seq;
    font-weight: bold;
}

.colouredPTM{
    @extend .seq;
    font-weight: bold;
}

.grid {
    width: 16px;
}

.aa {
    letter-spacing: 4px;
    display: inline-block;
    text-align: center;
    vertical-align: bottom
}

.position {
    @extend .grid;
    font-size: 9px;
    text-align: center;
    max-width: 15px;
}

.ptmFilter {
    padding: 5px;
}

.blank {
    @extend .grid;
    display: block;
}

.col {
    display: inline-block;
    vertical-align: bottom;
    max-width: 15px;
    text-align: center;
}

.row {
    td{
        padding-right: 10px;
    }
}

.modiRow {
    @extend .row;
    line-height: 16px;
}

.tablecell {
    padding-right: 5px;
    vertical-align: bottom;
}

.aaIndex{
    width: 50px;
    text-align: right;
    color: #aaa;
    padding-right: 15px !important;
}

.ptmIndex{
    width: 50px;
    height: 12px;
    padding-right: 15px !important;
}

.coverageTable {
    font-family: "Courier New";
    font-size: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-right: 15px;
}

.modificationTable {
    font-family: "Courier New";
    font-size: 20px;
    margin: auto;
}

.coverageContainer {
    min-width: 1800px;
    h4 {
        margin-bottom: 3px;
    }
}

.ptmToolTip {
    span {
        margin-right: 5px;
    }
}


.mutation {
    border: 1px solid black;
}

.coverageContainer {
    position: absolute;
    min-width: 1800px;
    h4 {
        margin-bottom: 3px;
    }
}

.coverageTooltip {
    position: relative;
    display: none;
    background: #ffd9b3;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 10px;
    width: auto;
    max-width: 500px;
    word-break: break-all;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    z-index: 100;
}

.legendButton {
    float: right
}

.modificationMenu {
    max-height: 500px;
    ul {
        padding-right: 0 !important;
        margin-right: -15px !important;
    }
}

.ptmLabel {
    display: flex !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    height: 35px !important;
    outline: none;
    h3 {
        margin-top: -2px;
    }
}

.ptmCheckbox {
    width: 25px !important;
    height: 20px !important;
}

.proteinTitle {
    display: inline-flex;
    width: 80%;
}

.ptmFilterSelector {
    display: inline-block;
    float: right;
}